
/*General style */	
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	color: white;
	width: 100%;
	margin: 0 auto;
	box-sizing:border-box;
	background-color: #23272a;
	font-family: 'Roboto', sans-serif;
}

main{
	margin: 50px 10px 15px 10px;

	
}

.fa-plus {
	color: rgb(124,252,0);
}

.fa-js-square {
	color:rgb(255,215,0);
	font-size: 1.5em;
}

.fa-react {
	color:	rgb(0,255,255);
}

.fa-code {
	color: rgb(139,0,0);
}

.fa-shopify {
	color:	rgb(0,255,0);
}

.fa-wordpress {
	color:rgb(100,149,237);	
}

.fa-pencil-ruler {
	color: rgb(244,164,96);
}

h2 {
	font-weight: 900;
	font-size: 2rem;
}

button {
	font-weight: bold;
	font-size: 0.8em;
}
/*Header style */
header {
	width: 100%;
	height: 50git px;
	position: fixed;
	top:0;
	background-color: rgb(35, 39, 42, 0.7);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header p {
	margin: 0;
	padding: 14px 10px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: grey;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
   position: absolute;
  left: 53px;
  top: 0;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 5px 0 10px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

/* Style the hamburger menu */
.topnav a.icon {
	padding-left: 10px;
	font-size: 1.5em;
  background:none;
  display: ;
  position: absolute;
  left: 0;
  top: 0;
}

#ct {
	font-size: 14px;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: #23272a;
}


nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav ul li {
	display: none;
	padding: 10px;
}

.full-size-nav li:not(:last-child) {
    border-right: 1px solid white;
}

nav ul li a {
	text-decoration: none;
	color:inherit;
}

.time-stamp p{
	margin-top: 0;
}

/*-------Beginning of Main section style ------- */

	/*ABOUT ME/INFO SECTION START*/

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background-color: rgb(138,43,226);
	border-radius: 15px;
}

.about-me h2 {
	text-align: center;
}

.underline-title {
	width: 50%;
	max-width: 375px;
}

.about-me-container {
	max-width: 350px;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: rgb(40,40,40, 1);
	
}

.about-me-top {
	display: flex;
	
	padding: 10px 0;
	border-radius: 5px;
	background-color: 	rgb(169,169,169, 0.2);
}

.image-container {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.about-me-top img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

.about-name-card {
	padding-left: 5px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.about-name-card p{
	margin: 3px;
}

.about-me-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-me-bio {
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(169,169,169, 0.2);
}

.about-me-skills {
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(169,169,169, 0.2);
}


.skillsbox {
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.skillsbox:last-child {
	padding-bottom:10px;
}

.skillsbox p {
	margin: 7px;
}

.about-me-bio h3,
.about-me-bio p,
.about-me-skills h3 {
	padding-left: 10px;
	padding-right: 10px
}


.resume-download-button {
	padding: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.resume-download-button button{ 
	width: 175px;
	min-height: 50px;
	color: white;
	border-radius: 5px;
	background-color: rgb(46,139,87); 	
 }

/*End of About section styling */


/*-----------Beggining of Portfolio area styling --------*/

.portfolio-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin-top:25px;
	background-color: rgb(138,43,226);
	border-radius: 15px;
}

.portfolio-section h2{
	text-align: center;
}



.portfolio-box-container { 
	max-width: 350px;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: rgb(40,40,40, 1);
 }

.portfolio-box {
	max-width: 350px;
	display: flex;
	align-items: center;
}

.port-img {
	display: flex;
	justify-content: center;
}

.portfolio-box img {
	padding: 10px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

.portfolio-box h4 {
	margin:  15px 0;
}

.port-container-info {
	padding-left: 10px;
	padding-right: 10px;
	background-color: 	rgb(169,169,169, 0.2);
	border-radius: 5px;
}

.port-container-info a {
	color: white;
	font-weight: normal;
}

.port-skills  {
	padding: 5px;
	  animation-duration: 3s;
       animation-iteration-count: infinite;
}

/*
.bounce {
	animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
	    0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-8px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-1px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

.bounce-2 {
	animation-name: bounce-2;
    animation-timing-function: ease;
}
*/


.port-container-skills {
	padding: 0 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: 	rgb(169,169,169, 0.2);
	border-radius: 5px;

}

.portfolio-section button a{
	text-decoration: none;
	color: white;
}

.port-button {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.port-button button{
	width: 120px;
	min-height: 35px;
	background-color: rgb(138,43,226);
	border-radius: 5px;
}

.show-more-button {
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.show-more-button button{
	width: 175px;
	min-height: 50px;
	color: white;
	border-radius: 5px;
	background-color: rgb(46,139,87); 
}

.show-more-button p {
	color: white;
}

/*---END OF PORTFOLIO SECTION ---- */

/*-----------------START OF CONTACT SECTION ---------------- */

.contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin-top:25px;
	background: linear-gradient(rgb(138,43,226), rgb(75,0,130));
	border-radius: 10px;
	text-align: center;
}

.form-div {
	width: 100%;
}


.contact-section form {
	margin: auto !important;
	max-width: 350px;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: rgb(40,40,40, 1);
}

.contact-section h2 {
	text-align: center;
}

.contact-section input,
.contact-section textarea {
	color: white;
	max-width: 80%;
	margin-bottom: 10px;
	border-radius: 5px;
}


.submission input {
	margin-bottom: 0;
	min-height: 50px;
	width: 175px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1rem;
}

#submit-button {
	background-color: #2e8b57; 
}

.submission {
	padding: 10px;
}

.socials {
	display: flex;
	justify-content: center;

}

.socials i {
	padding: 15px;
	font-size: 2em;
	margin:0 20px;
}

.socials a {
	color:white;
}

/*END OF CONTACT STYLE */

/*----FOOTER STYLE------*/

.footer-nav ul{
	padding-left: 0;
	display: flex;
	justify-content: center;
	font-size: 0.8em;
}

.footer-nav ul li{
	display: block;
}