
/*General style */	
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	color: white;
	width: 100%;
	margin: 0 auto;
	box-sizing:border-box;
	background-color: #23272a;
}

main{
	margin: 25px 10px;
}
/*Header style */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header p {
	padding: 10px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: grey;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
   position: absolute;
  left: 53px;
  top: 0;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}

/* Style the hamburger menu */
.topnav a.icon {
	font-size: 1.5em;
  background:#23272a;
  display: ;
  position: absolute;
  left: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: #23272a;
}



#823DEA

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav ul li {
	display: none;
	padding: 10px;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

nav ul li a {
	text-decoration: none;
	color:inherit;
}

.time-stamp p{
	margin-top: 0;
}

/*-------Beginning of Main section style ------- */

	/*ABOUT ME/INFO SECTION START*/

.about-me {
	padding: 10px;
	background: linear-gradient(rgb(75,0,130), rgb(138,43,226));
	border-radius: 15px;
}

.about-me h2 {
	text-align: center;
}

.underline-title {
	width: 50%;
}

.about-me-top {
	display: flex;
	justify-content: space-around;
	padding: 20px 0px;
	border-radius: 15px;
	background-color: rgb(169,169,169, 0.9);
}

.image-container {
	width: 60%;
	display: flex;
	justify-content: center;
}

.about-me-top img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

.about-name-card {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -20px;

}

.about-name-card p{
	margin: 3px;
}

.about-me-info {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.about-me-bio {
	width: 60%;
	padding: 5px;
	border-radius: 15px;
	background-color: rgb(	169,169,169, 0.9);
}

.about-me-bio p {
	border-right: 1px solid black;
}

@media only screen and (min-width: 410px) {
  .about-me-bio p {
    border-right: none;
  }
}
.about-me-skills {
	padding: 5px;
	width: 40%;
	margin-left: 5px;
	border-radius: 15px;
	background-color: rgb(	169,169,169, 0.9);
}


.skillsbox {
	display: flex;
	align-items: center;
}

.skillsbox p {
	margin: 5px;
}

.resume-download-button {
	padding-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

/*End of About section styling */


/*-----------Beggining of Portfolio area styling --------*/

.portfolio-section {
	padding: 10px;
	margin-top:25px;
	background: linear-gradient(rgb(75,0,130), rgb(138,43,226));
	border-radius: 15px;
}

.portfolio-section h2{
	text-align: center;
}

.portfolio-box-container { 
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 15px;
	background-color: rgb(169,169,169, 0.9);
 }

.portfolio-box {
	width: 100%;
	display: flex;
}

.portfolio-box img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

.portfolio-box h4 {
	margin:  15px 0;
}


.port-skills{
	padding: 5px;
}

.port-container-skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.portfolio-section button a{
	text-decoration: none;
}

.port-button {
	padding-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.show-more-button {
	padding-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}


